<div class="content">
    <div class="container">
        <form>

            <div class="form-group">
                <label for="task">Task</label>
                <input type="text" class="form-control" id="task" required>
            </div>
            <div class="form-group">
                <label for="priority">Priority</label>
                <div class="slidecontainer">
                    <input type="range" min="0" max="100" value="30" class="slider" id="priority">
                </div>
            </div>

            <div class="form-group">
                <label for="parenttask">Parent Task</label>
                <input type="text" class="form-control" id="parenttask" required>
            </div>
            <div class="form-group">
                <label for="startdate">Start Date </label>
                <input type="date" class="form-control" id="startdate" required>
            </div>
            <div class="form-group">
                <label for="enddate">End Date</label>
                <input type="date" class="form-control" id="enddate" required>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Add Task"> &nbsp;
            <input class="btn btn-primary" type="reset" value="Reset">
        </form>

    </div>
</div>