<div class="content">
    <div class="container">
        <form [formGroup]="angForm1">
            <div class="form-group">
                <label for="task" i18n="@@temp_task_name_update">Task</label>
                <input type="text" class="form-control" [(ngModel)]="task.task_name" formControlName="task_name" required #task_name (blur)="ValidateTaskName(task_name.value)">
                <div *ngIf="tasknameErr" class="alert alert-danger">
                    Task Name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="priority" i18n="@@temp_priority_update">Priority</label>
                <div class="slidecontainer">
                    <input type="range" min="0" max="100" [(ngModel)]="task.priority" class="slider form-control" #priority formControlName="priority">
                </div>
            </div>

            <div class="form-group">
                <label for="parenttask" i18n="@@temp_parent_task_name_update">Select Parent Task</label>
                <select class="form-control" [(ngModel)]="task.parent_task_name" formControlName="parent_task_name" #parent_task_name>
                    <option [value]="selectUndefinedOptionValue">--Select one--</option>
                    <option [selected]="task.parent_task_name == eachtask.task_name" *ngFor="let eachtask of allTasks">{{eachtask.task_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="startdate" i18n="@@temp_start_date_update">Start Date </label>
                <input type="date" class="form-control" [(ngModel)]="task.start_date" formControlName="start_date" #start_date required (blur)="compareTwoDates()">
            </div>
            <div class="form-group">
                <label for="enddate" i18n="@@temp_end_date_update">End Date</label>
                <input type="date" class="form-control" [(ngModel)]="task.end_date" formControlName="end_date" #end_date required (blur)="compareTwoDates()">
            </div>
            <input class="btn btn-primary" type="submit" i18n="@@temp_Update_task" value="Update Task" [disabled]="error.isError || angForm1.invalid" (click)="updateTask(task_name.value,parent_task_name.value,start_date.value,end_date.value, priority.value)"> &nbsp;
            <input class="btn btn-primary" i18n="@@temp_Reset_update" type="reset" value="Reset" (click)="reset()">
        </form>

    </div>
</div>