.border-class
{
  border:thin black solid;
  margin:20px;
  padding:20px;
}
.form-inline .form-group {
    display: inline-block;
    margin:5px;
}

.form-inline .form-control {
    width:200px;
    margin:5px;
}

hr {
    border:none;
    border-top:1px dotted rgb(8, 4, 4);
    color:#fff;
    background-color:#fff;
    height:1px;
    width:100%;
  }

.col-form-label
{ 
    width:150px;
  }
